
<h2><%= activity.activity_name %></h2>
<form action="/trips/<%= tripId %>/activities/<%= activity.id %>?_method=delete" method="post">
    <button>delete</button>

</form>

<form action="/trips/<%= tripId %>/activities/<%= activity.id %>/categories" method="post">
    <label for="categories">Category:</label>
    <input type="text" name="type">
    <input type="hidden" name="trip_id" value="<%= tripId %>">
    <input type="hidden" name="activity_id" value="<%= activity.id %>">
    <button>add category</button>

</form>

<% for (let category of categories) { %>
    <p><%= category.type %></p>
<% } %>

