
<h2><%= activity.name %></h2>

<form action="/trips/<%= trip.id %>/activities/<%= activity.id %>?_method=delete" method="post">
    <button>delete</button>

</form>

<form action="/categories" method="post">
    <label for="categories">categories</label>
    <input type="text">
    <input type="hidden" name="trip_id" value="<%= trip.id %>">
    <input type="hidden" name="activity_id" value="<%= activity.id %>">
    <button>add category</button>

</form>