
<div class="banner-container">
    <img src="/images/canyon.jpg" alt="" class="banner-img">
    <div class="search-box">
        <form action="#" class="search-form">
            <h1 class="search-display">Find your next itinerary</h1>
            <div class="search-input">

                <input type="text" placeholder="e.g. 10 days in Japan">
                <button>Search</button>

            </div>
        </form>
    </div>
</div>

<h2>Explore</h2>

<div class="all-trips">

    <% for (let trip of trips) { %>
        <div class="ui-card">
            <h3>
                <div class="img-container">
                    <img src="<%= trip.image_url %>" alt="" class="card-img">
                    <div class="save-icon">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div> 
                <div class="content-wrapper">
                    <div class="trip-summary">
                        <h4>
                            <a href="/trips/<%= trip.id %>">
                                <%= trip.title %>
                            </a>
                        </h4>
                        <p><%= trip.origin %> to <%= trip.destination %></p>
                    </div>
                    <div class="profile-img">
                        <% for (let user of users) { %>
                            <% if (user.id === trip.user_id) { %>
                                <img src="<%= user.profile_img %>" alt="">
                            <% } %>
                        <% } %>
                    </div>
                </div>

            </h3>

        </div>

    <% } %>

</div>